A3/mysh
A3/mysh.dSYM/
A3/test/
A4/.gitignore
A4/capeke_Assignment_4_CS344.tar.bz2
A4/happy_primes_procs
A4/happy_primes_threads
A4/image.png
A4/latex/writeup.aux
A4/latex/writeup.log
A4/latex/writeup.pdf
A4/mprocs.dSYM/
A4/mprocs.out
A4/mthreads
A4/mthreads.dSYM/
A4/mthreads.out
A4/prime_procs_temp_shm
A4/prime_procs_temp_shm_happiness
A4/pyrunner.py
A4/threads.txt
.DS_Store
A4/.DS_Store
